body {
    font-family: 'Arial', sans-serif;
  }
  
  .arrow-keys {
    font-size: 1.5rem;
  }
  
  canvas {
    display: block;
    margin: 0 auto;
    background-color: #000;
  }
  
  .score {
    font-size: 1.5rem;
  }
  