.myPortfolio {
    text-align: center;
    color: white;
}
.myProfileImg {
    height: 300px;
    border-radius: 15px;
}
.divProfileImg {
text-align: center;
}
.viewAllButton {
    text-align: center;
}
.h2title { 
    color: #ffff;
}
.portfolio-area-page {
    padding-top: 20px;
    padding-bottom: 90px;
}