.myPortfolio {
    text-align: center;
    color: white;
}
.myProfileImg {
    height: 300px;
    border-radius: 15px;
}
.divProfileImg {
text-align: center;
}
.viewAllButton {
    text-align: center;
}